*{
    padding: 0px;
    margin: 0px;
}
#navbar {
   background-color: #08223d;
  height: 35px;
  width: 100%;
  position: fixed;
}
#homeButton {
  position: relative;
  border: none;
  background-color: transparent;
  color: rgb(232, 241, 247);
  left: 10px;
  size: 10px;
  cursor: pointer;
}
#registerButton {

  position: relative;
  background-color: transparent;
  color: rgb(239, 243, 249);
  size: 10px;
  left: 1000px;
  border: none;
}
#listButton {
  position: relative;
  background-color: transparent;
  color: rgb(239, 233, 233);
  size: 10px;
  left: 900px;
  border: none;
  cursor: pointer;
}