
<div class="page-center">
  <div class="table-container">
    <table class="student-table">
      
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Department</th>
          <th>Roll No</th>
          <th>Admission Date</th>
          <th>View</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of Students">
          <td>{{student.id}}</td>
          <td>{{student.studentName}}</td>
          <td>{{student.email}}</td>
          <td>{{student.course}}</td>
          <td>{{student.department}}</td>
          <td>{{student.rollNumber}}</td>
          <td>{{student.admissionDate}}</td>
          <td><img src="../../assets/eye-fill.svg" (click)="viewstudent(student)"></td>
          <td><img src="../../assets/trash.svg" (click)="deleteStudent(student.id)">
             <img src="../../assets/pencil-square.svg" routerLink="/up1">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectstudent" class="student-details-card">
    <h4>Student {{selectstudent.id}} - Details</h4>
    <p>Name : {{selectstudent.studentName}}</p>
    <p>Age : {{selectstudent.age}}</p>
    <p>Address : {{selectstudent.address}}</p>
    <p>Contact : {{selectstudent.contactNumber}}</p>
    <p>Year Of Study : {{selectstudent.yearOfStudy}}</p>
    <button (click)="closeview()" class="btn btn-info">close</button>
  </div>
  <div>
     
</div >
  <!-- <div style="display: inline;">
   <div><input type="number" [(ngModel)]="searchstudent" placeholder="getstudentbyid">
      <button (click)="searcstudent()">search</button></div>
      <p>{{getstudent.studentName}}</p>
      </div> -->
