*{
    margin: 0;
    padding: 0;
    
}
#sidebar{
    position: fixed;
    top: 25px;
    left: 0;
    background-color: #08223d;
    width: 100px;
    height: 100%;
    padding: 20px;
}
#updateButton{
    position: relative;
    top: 25px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
#listButton{
    position: relative;
    top: 45px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
#registerButton{
    position: relative;
    top: 65px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
}