<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="login">
    <form>
      <h3>Login</h3>
      <input type="text"  name="username" placeholder="Username or email" required>
      <br>
      <input type="password"  name="password" placeholder="Password" required>
      <br>
      <button id="submit" type="submit">login</button>
      <br>
      <h6>Or</h6>
      <br>
      <button (click)="openRegister()" id="create">Create Account</button>
    </form>
  </div>
</body>
</html>