.body {
   place-items: center;
  padding-top: 60px;
  background:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.row{
  margin-bottom: 30px;
  margin-top: 10px;
}
.container {
 
  padding-top: 80px;
  max-width: 900px;
  background: #f1eff4;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

h1 {
 
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
}

input.form-control {
  height: 42px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

input.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 4px #17a2b8;
  outline: none;
}

button.btn-info {
  align-items:center;
  width: 90%;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  margin-top: 20px
}

button.btn-info:hover {
  background-color: #138496;
}


